*{
 margin: 0;
 padding: 0;
 
}
.home_page .header {
    background: rgba(0,0,0);
}

.heading{
 background: linear-gradient(45deg,#A82340,#72297A);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.headingtext{
 position: absolute;
 color: white;
 width: 50%;
 text-align: center;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.mainimage{
 width: 90%;
 height: 800px;
 padding: 50px;
 margin-top: 70px;
 margin-bottom: 50px;
}

.heading img{
 border-radius: 90px;
 filter: blur(3px);
}

.headingheader{
 font-size: 45px;
 font-weight: bold;
 color: white;
}

h3{
 color: white;
 font-size: 30px;
}

h6{
 padding-top: 20px;
 color: white;
 font-size: 12px;
}

.headingtext1{
 display: flex;
 flex-direction: row;
 width: 80%;
 gap: 60px;
 margin-bottom: 80px;
}

.headtext1{
 width: 50%;
 color: white;
}

.headtext2{
 width: 50%;
 color: white;
}

.headtext3{
 width: 50%;
 color: white;
}

.headtext4{
 width: 50%;
 color: white;
}

.heading1{
 font-size: 30px;
 line-height: 10px;
 font-weight: bold;
 color: white;
 margin-bottom: 50px;
}

.two{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: space-between;
 padding-left: 200px;
 padding-right: 200px;
 padding-top: 80px;
 padding-bottom: 80px;
 margin-bottom: 50px;
 gap: 100px;
}

.texttwo1{
 width: 40%;

}

.htwo{
 font-size: 35px;
 font-weight: bold;
}

.texttwo2{
 width: 40%;
}

.imagetwo{
 width: 40%;
}
.twoimage{
 border-radius: 50px;
}

.three {
 background: linear-gradient(45deg,#000000,#72297A);
 width: 100%;
 align-items: center;
}

.maindiv{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap: 50px;
 padding: 50px;
 width: 100%;
 align-items: center;
 padding-top: 100px;
}

.htitle{
 font-size: 30px;
 font-weight: bold;
 color: white;
 text-align: center;
 padding-top: 50px;
}

.cont1{
 width: 40%;
}

.cont2{
 width: 40%;
}

.cont3{
 width: 40%;
}

.par1{
 color: white;
 height: fit-content;
}

.par2{
 color: white;
 height: fit-content;
}

.image1{
 border-radius: 30px;
 width: fit-content;
 height: 300px;
}

.imagethree{
 border-radius: 30px;
}

.thirdbutton{
 background-color: transparent;
 color: white;
 padding: 15px 20px;
 width: 200px;
 border: 2px solid white;
 border-radius: 50px;
 margin-top: 150px;
}

.but{
 display: flex;
 justify-content: center;
 padding-bottom: 50px;
}